<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"><!-- Certifique-se de ter o CSS -->
</head>
<body>
    <main class="home-main">
      <section class="hero">
        <h1 class="home-title">Venha nos conhecer!</h1>
        <p class="home-subtitle">Um Petshop de excelência para seu pet! Venha conhecer nossos produtos especialmente selecionados com carinho para seu pet!</p>
        <a href="/products" class="btn-main">Ver Produtos</a>
        <div class="img-wrapper">
          <img src="/img/pets.png" alt="Pets felizes" />
        </div>
      </section>
      <section class="servicos">
        <h2>Serviços especiais para seu pet!</h2>
        <div class="cards">
          <div class="card z-depth-1">
            <img src="/img/banho.jpg" alt="Banho e Tosa" />
            <h3>Banho e Tosa</h3>
            <p>Na DomesticPets, transformamos o banho e tosa em um momento de carinho e bem-estar, deixando seu pet cheiroso, feliz e com a pelagem impecável!</p>
          </div>
          <div class="card z-depth-1">
            <img src="/img/hotelzinho.jpeg" alt="Hotelzinho" />
            <h3>Hotelzinho para Cães e Gatos</h3>
            <p>Viaje tranquilo! O hotelzinho da DomesticPets oferece um ambiente acolhedor e supervisionado para seu pet, com brincadeiras, conforto e a companhia que ele merece.</p>
          </div>
          <div class="card z-depth-1">
            <img src="/img/consulta.jpg" alt="Vacinação" />
            <h3>Vacinação e Consulta Veterinária</h3>
            <p>Na DomesticPets, cuidamos da saúde do seu pet com vacinação e consultas veterinárias completas, garantindo proteção e bem-estar em todas as fases da vida.</p>
          </div>
        </div>
      </section>
      <section class="hotelzinho">
        <div class="info">
          <h2>Garantimos a excelência ao cuidado do seu pet em nosso Hotelzinho!</h2>
          <h4>Ambiente Seguro e Acolhedor</h4>
          <p>Seu pet estará em um espaço monitorado e higienizado 24h, garantindo conforto e segurança. Um lar longe de casa.</p>
          <h4>Cuidado Personalizado</h4>
          <p>Atenção individualizada às necessidades de cada hóspede, com rotinas de alimentação e medicação seguras. Todo o cuidado que ele merece.</p>
          <h4>Diversão e Socialização</h4>
          <p>Áreas amplas e atividades supervisionadas para seu pet brincar e fazer amigos. Dias repletos de diversão e carinho.</p>
          <a href="/solicitations" class="btn-main waves-effect waves-light btn-large orange darken-2" id="Solicitar">Solicitar serviço!</a>
        </div>
        <div class="img-wrapper">
          <img src="/img/hotel-dogs.jpeg" alt="Cães brincando no hotelzinho" />
        </div>
      </section>
      <section class="veterinario">
        <h2>Acompanhamento Veterinário!</h2>
        <div class="cards">
          <div class="card z-depth-1">
            <img src="/img/vet1.jpg" alt="Veterinária com cão" />
            <h3>Profissionais certificados!</h3>
            <p>Na DomesticPets, seu pet tem profissionais veterinários certificados. Cuidado e saúde garantidos!</p>
          </div>
          <div class="card z-depth-1">
            <img src="/img/vet2.webp" alt="Cão sendo vacinado" />
            <h3>As vacinas essenciais para seu pet!</h3>
            <p>Na DomesticPets, seu pet tem todas as vacinas que precisa. Proteção segura e eficaz para uma vida longa e saudável!</p>
          </div>
        </div>
      </section>
      <section class="avaliacoes">
        <h2>Avaliações dos nossos clientes!</h2>
        <div class="cards">
          <div class="card z-depth-1">
            <p>“Atendimento excelente! Veterinários super atenciosos com meu pet!”</p>
            <div class="autor">
              <img src="/img/perfil_1.jpg" alt="Ronaldin" />
              <div>
                <strong>Ronaldin</strong>
              </div>
            </div>
            <span>Tutor</span>
          </div>
          <div class="card z-depth-1">
            <p>“Depois de conhecer esse Petshop, meu cachorro nunca mais foi o mesmo”</p>
            <div class="autor">
              <img src="/img/perfil_2.jpeg" alt="Steve Aki" />
              <div>
                <strong>Steve Aki</strong>
              </div>
            </div>
            <span>Tutor</span>
          </div>
          <div class="card z-depth-1">
            <p>“Brinquedos variados e de ótima qualidade! Impossíveis de roer!”</p>
            <div class="autor">
              <img src="/img/perfil_3.jpeg" alt="Agata Roeu" />
              <div>
                <strong>Agata Roeu</strong>
              </div>
            </div>
            <span>Tutora</span>
          </div>
        </div>
      </section>
    </main>
</body>
</html>