<footer class="footer">
  <div class="footer-top">
    <div>
      <h2>Projeto feito pela equipe:<br />Absolut5Devs</h2>
    </div>
    <img src="img/pata.png" alt="Pata decorativa" class="pata" />
  </div>
  <div class="footer-bottom">
    <div class="links">
      <p>https://www.domesticpets.com.br</p>
      <ul>
        <li><span class="material-icons" style="font-size:1.1em;vertical-align:middle;">facebook</span> Domestic Pets - Petshop</li>
        <li><span class="material-icons" style="font-size:1.1em;vertical-align:middle;">business</span> Domestic Pets LTDA</li>
        <li><span class="material-icons" style="font-size:1.1em;vertical-align:middle;">photo_camera</span> @domesticpetsbrasil</li>
      </ul>
    </div>
    <div class="membros">
      <p>Membros:</p>
      <ul>
        <li>Vinicius Alb.</li>
        <li>Roberto Vitaliano</li>
        <li>João Vitor G.</li>
        <li>Erick Henrick</li>
        <li>Daniel Alb.</li>
      </ul>
    </div>
  </div>
</footer>
<!-- Scripts do Materialize e jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <%# Se já não estiver lá %>
  <script src="/js/materialize.min.js"></script> <%# Ou materialize.js, se já não estiver lá %>
  <script src="https://unpkg.com/imask"></script> <%# ADICIONE ESTA LINHA %>
  <script src="/js/init.js"></script> <%# Se já não estiver lá %>
