<nav class="orange darken-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo"><img src="/img/logo-pets.png" alt="logo"></a>
    
    <ul class="right hide-on-med-and-down">
      <li><a href="/"><i class="material-icons left">home</i>Home</a></li>

      <%# Links visíveis se o usuário estiver logado %>
      <% if (locals.currentUserRole) { %>
        <!-- <li><a href="/userproducts"><i class="material-icons left">shopping_bag</i>Produtos</a></li>
        <li><a href="/userservices"><i class="material-icons left">content_cut</i>Serviços</a></li> -->
        <!-- <li>
          <a href="/userservices/cart"><i class="material-icons left">shopping_cart</i>Carrinho<span id="cart-badge" class="new badge white black-text" data-badge-caption="" style="display: none; margin-left: 5px;"></span></a>
        </li> -->

        <%# Links de ADM %>
        <% if (currentUserRole === 'ADM') { %>
          <li><a href="/pets"><i class="material-icons left">pets</i>Pets</a></li>
          <li><a href="/products"><i class="material-icons left">store</i>Produtos</a></li>
          <li><a href="/services"><i class="material-icons left">room_service</i>Serviços</a></li>
          <li><a href="/users"><i class="material-icons left">people</i>Usuários</a></li>
          <li><a href="/tutors"><i class="material-icons left">assignment_ind</i>Tutores</a></li>
          <li><a href="/solicitations"><i class="material-icons left">playlist_add_check</i>Solicitações</a></li>
        <% } %>
        <li><a href="/login/logout"><i class="material-icons left">exit_to_app</i>Sair</a></li>
      <% } else { %>
        <%# Links para usuários não logados %>
        <!-- <li><a href="/userproducts"><i class="material-icons left">shopping_bag</i>Produtos</a></li>
        <li><a href="/userservices"><i class="material-icons left">content_cut</i>Serviços</a></li> -->
        <li><a href="/login"><i class="material-icons left">login</i>Login</a></li>
      <% } %>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/img/sidenav-background.jpg"> </div>
          <% if (locals.currentUserRole && locals.user) { %>
            <a href="#user"><img class="circle" src="<%= locals.user.avatar || '/img/avatar-placeholder.png' %>"></a>
            <a href="#name"><span class="white-text name"><%= locals.user.username %></span></a>
            <a href="#email"><span class="white-text email"><%= locals.user.email %></span></a>
          <% } else { %>
            <a href="#user"><img class="circle" src="/img/avatar-placeholder.png"></a>
            <a href="/login"><span class="white-text name">Visitante</span></a>
            <a href="/login"><span class="white-text email">Faça login para continuar</span></a>
          <% } %>
        </div>
      </li>
      <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
      
      <% if (locals.currentUserRole) { %>
        <!-- <li><a href="/userproducts"><i class="material-icons left">shopping_bag</i>Ver Produtos</a></li>
        <li><a href="/userservices"><i class="material-icons left">content_cut</i>Ver Serviços</a></li> -->
        <!-- <li>
          <a href="/userservices/cart">
            <i class="material-icons left">shopping_cart</i>Carrinho
            <span id="cart-badge-mobile" class="new badge orange white-text" data-badge-caption="" style="display: none; margin-left: 5px;"></span>
          </a>
        </li> -->
        <% if (currentUserRole === 'ADM') { %>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Painel Administrativo</a></li>
          <li><a href="/pets"><i class="material-icons left">pets</i>Pets</a></li>
          <li><a href="/products"><i class="material-icons left">store</i>Produtos</a></li>
          <li><a href="/services"><i class="material-icons left">room_service</i>Serviços</a></li>
          <li><a href="/users"><i class="material-icons left">people</i>Usuários</a></li>
          <li><a href="/tutors"><i class="material-icons left">assignment_ind</i>Tutores</a></li>
          <li><a href="/solicitations"><i class="material-icons left">playlist_add_check</i>Solicitações</a></li>
        <% } %>
        <li><div class="divider"></div></li>
        <li><a href="/login/logout"><i class="material-icons left">exit_to_app</i>Sair</a></li>
      <% } else { %>
        <!-- <li><a href="/userproducts"><i class="material-icons left">shopping_bag</i>Ver Produtos</a></li>
        <li><a href="/userservices"><i class="material-icons left">content_cut</i>Ver Serviços</a></li> -->
        <li><a href="/login"><i class="material-icons left">login</i>Login / Registrar</a></li>
      <% } %>
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>